# Shop configuration
/source/config.inc.php

runned.txt

/docker/data-mailpit
!/docker/.env
# Log
/source/log/
!/source/log/.htaccess

# Cache
/source/cache/
!/source/cache/.htaccess
!/source/cache/.gitkeep

# Export
/source/export/
!/source/export/.gitkeep

# Temporary files
/source/tmp/
!/source/tmp/.htaccess

# Composer
/vendor/
composer.lock
# Testing library
/test_config.yml
/source/Services/

# Editions
/source/Edition/

# IDE
/.idea/
/.phpstorm-oxid.meta.php
/.ide-helper.php

# OS
.DS_Store

# DI cache
/source/Internal/Container/container_cache.php

# DI for modules and packages
/var/generated_services.yaml
/tests/Integration/Internal/Container/Dao/generated_project.yaml
/tests/.phpunit.result.cache
/source/out/pictures/master/category/*
!source/out/pictures/master/category/icon/.gitkeep
!/source/out/pictures/master/category/promo_icon/.gitkeep
!/source/out/pictures/master/category/thumb/.gitkeep
.env
/.phpstorm.meta.php/oxid.meta.php
/source/Application/views/wave/*
/source/Application/views/o3-theme/*
/source/out/pictures/generated/*


/source/out/pictures/master/manufacturer/*
/source/out/pictures/master/product/*
/source/out/pictures/master/wrapping/img_ecard_03_wp.jpg
/source/out/pictures/promo/*
/source/out/wave/*
/source/out/o3-theme/*
/var/configuration/shops/1.yaml
/var/generated/generated_services.yaml
docker/database/data
docker/mailpit/data
coverage